.CreateTodoButton button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    background-color: #46d8f9;
    border: 2px solid #469ff9;
    border-radius: 50%;
    position: fixed;
    bottom: 1rem;
    right: calc(50% - 2rem);
    transition: 500ms;
}

.CreateTodoButton button:focus {
    outline: none;
}

.CreateTodoButton .transformed {
    transition: 500ms;
    transform: rotate(225deg);
}

.CreateTodoButton img {
    width: 30px;
    height: 30px;
    padding: 100%;
    border-radius: 50%;
}

.CreateTodoButton img:hover {
    border: 3px solid #007bf5;
}

.CreateTodoButton img:active {
    background-color: #469ff9;
}